.logo{

    width: 18rem;
    height: 15rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cara{

    margin: auto;
    width: 25rem;
    height: 30rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

